/*inicio index.php*/

/* Header */
a:hover{
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: white;
}

/* .charge-header{
    background: orange;

} */

header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
header .header .logo{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 200px;
}

header .header .logo img{
    max-width: 100%;
}

header .header nav a{
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
}   

header .header nav a:nth-child(1){
    border-right: 2px solid white;
    padding-right: 15px;
}

.mascara{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000085;
    opacity: 0.3;
    z-index: 0;
}
.banner-main {
    background-image: url(../../assets/images/banner.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
/* Banner Img*/

.banner-main .container{
    position: relative;
    z-index: 1;
}
.banner-main h2{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-main a{
    display: inline-block;
    border: 1px solid #00000085;
    color: #00000085;
    padding: 12px 35px;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    background: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease all;

}
.banner-main a:hover{
    opacity: 0.8;
}

/*deixa a parte escrita centralizada*/

.about-project{
    padding: 100px 0px;
}


.about-project h2{
    color: orange;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    
    text-transform: uppercase;
}

.about-project p{
    font-size: 1rem;
    color: #4f4e4e;
}

.about-project a{
    background: orange;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
    margin: 20px 0px 0px 0px;
}

.map-phrase .phrase {
    color: #0a1166;
    font-weight: 800;
    font-size: 60px;
    margin-left: 90px;
}

.map img {
    padding: 20px 0 10px 0;
    animation: map;
}

.map {
    position: relative;
}

.map::after {
    content: "";
    background-image: url(../../images/point.png);
    position: absolute;
    top: 245px;
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 260px;
}

.map::before {
    content: "";
    background-image: url(../../images/point.png);
    position: absolute;
    top: 140px;
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 180px;
}
.about-project .block-videos{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.about-project .block-videos .item{
    background: black;
    flex: 1;
    border-radius: 7px;
    border-radius: 10px;
    overflow: hidden;
}

.about-project .block-videos .item iframe{
    width: 100%;
    height: 200px;
}
.background-videos{
    background: #f0f0f0;
}


/* page-register */

.page-register{
    background: #2e2388;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-register form{
    width: 450px;
    padding: 30px 30px;
    background: white;
    border-radius: 5px;
}
.page-register label{
    font-size: 0.7rem;
    width: 100%;
    margin-bottom: 2px;
}

.page-register p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2e2388;
}


.page-register label{
    font-size: 0.85rem;
    font-weight: bold;
}
.page-register .block_register{
    margin-bottom: 20px;
    width: 100%;

}

.page-register .block_register a{
    color: blue;
    text-decoration: underline;
    margin-right: 20px;
}

.page-register input,select{
    margin-bottom: 3px;
}

.page-register .error{
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.page-register .sucess{
    color: green;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario-cadastro .block-input{
    padding: 0 5px;
}
.formulario-cadastro{
    margin: 0px -5px;
    display: flex;
    flex-wrap: wrap;
}