.block-main{
    padding: 50px;
    background: #f2f5fe;
    height: calc(100vh - 59px);
}

.block-main .area_video{

}

.block-main .area_video iframe{
    height: 150px;
}

.block-main .area_video .jogador_info h5{
    font-size: 0.8rem;
}


/* Pagination */

.paginacao{
    text-align: center;
    margin-top: 20px;
}

.paginacao a{
    color: #2b0087;
    font-weight: bold;
    padding: 0px 2px;
    
}
.paginacao a.active-page{
    color: red;
}