.block-main{
    padding: 40px 60px;
    background: #f2f5fe;
    height: calc(100vh - 65px);
}

.block-main .area_video{
    margin-bottom: 20px;
}

.block-main .area_video iframe{
    height: 26vh;
}

@media (min-width: 1400px) {
    .block-main .area_video iframe{
        height: 33vh;
    }
}

.block-main .area_video .jogador_info h5{
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.block-about-player{
    padding: 20px 30px;
    background: #fff9f9;
    border-radius: 10px;
}

.bloco-perfil h3{
    font-size: 1rem;
    text-transform: uppercase;
    color: #2b0087;
    margin: 15px 0px;
}
.bloco-perfil h4{
    font-size: 1rem;
    font-weight: bold;
    color: #2b0087;
}

.bloco-perfil iframe{
    width: 100%;
    height: 180px;
    border-radius:5px;

}
.bloco-perfil p{
    font-size: 0.8rem;
    font-weight: 500;
}

.bloco-perfil .desc{
    font-size: 0.8rem;
    margin-bottom: 5px;;
}

.bloco-perfil .desc span{
    font-weight: bold;
}
.bloco-perfil figcaption{
    font-size: 0.8rem;
    font-weight: 500;
}

.bloco-perfil .imagem-perfil{
   
    margin-bottom: 10px;
}

.bloco-perfil .imagem-perfil img{
    max-width: 100%;
}

/* Pagination */

.paginacao{
    text-align: center;
    margin-top: 20px;
}

.paginacao a{
    color: #2b0087;
    font-weight: bold;
    padding: 0px 2px;
    
}
.paginacao a.active-page{
    color: red;
}

/* Page CONTATO */

.page-contato label{
    width: 60%;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.page-contato h4{
    color: #2b0087;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.page-contato p{
    font-size: 1rem;
    font-weight: 500;
}
.page-contato input, .page-contato textarea{
    width: 100%;
    background: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #0000005c;
}

.title-dados{
    font-size: 1rem;
    font-weight: bold;
    color: #2b0087;
}

.pagina_configuracoes .config-dados .foto-perfil{
    width: 155px;
    height: 155px;
    background-size: cover!important;
    margin-bottom: 10px;
    position: relative;
    
}

.pagina_configuracoes .config-dados .foto-perfil .click{
    background: #ffffff7a;
    position: absolute;
    font-weight: 500;
    color: blue;
    bottom: 0px;
    padding: 4px 0px;
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.pagina_configuracoes .config-dados .foto-perfil input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.pagina_configuracoes .config-dados form .block-campos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
} 

.pagina_configuracoes .config-dados form input,select{
    width: 100%;
    background: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #0000005c;
}
.pagina_configuracoes .config-dados form .block-fotos label{
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.pagina_configuracoes .config-dados form .block-fotos textarea, .block-fotos input{
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #0000005c;
}
.pagina_configuracoes .config-dados form .block-campos label{
    font-size: 0.8rem;
    font-weight: bold;
    width: 32%;
    margin-bottom: 0px;
}

.pagina_configuracoes .config-dados form button{
    background: #2b0087;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.block-senha button{
    background: #2b0087;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.block-senha{
    margin-top: 20px;
}

.block-senha label{
    font-size: 0.8rem;
    font-weight: bold;
    width: 24%;
    margin-bottom: 0px;
}

.block-senha input{
    width: 100%;
    background: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #0000005c;
}

.config-video{
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #2b0087;
}
.config-video h4{
    font-size: 1.2rem;
    font-weight: bold;
    color: #2b0087;

}

.config-video input{
    height: 32px;
    width: 388px; 
}
.config-video button{
    background: #2b0087;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.block-principal{
    display: flex;
}

.block-principal .sidebar{
    max-width: 200px;
}

.block-principal .sidemain{
    width: 100%;
}


/* ADMIN */

.page-admin form{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.page-admin form .campo{
    margin-right: 10px;
}
.page-admin form input,select{
    background: white;
    width: 100%;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0px;
    padding: 5px 10px;
    border: 1px solid #0000005c;
}

.page-admin form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b0087;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    border: 1px solid transparent;
    color: white;
}

.page-admin form button svg{
    margin-left: 10px;
}

.page-admin .border-table{
    padding: 10px;
    border: 0.5px solid#0000006b;
}

.page-admin{
    font-size: 0.8rem;
    font-weight: 500;
}

.page-admin button{
    border: none;
    background: transparent;
    width: 150px;
    font-weight: bold;
}
.cor-verde{
    color: green;
}
.cor-red{
    color: red;

}
button{
    outline: none!important;
}
.page-admin button.btn-verde{
    background: green;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px 20px;
    color: white;
}

.page-admin button.btn-vermelho{

    background: red;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    padding: 5px 20px;
}


/* MEUS VIDEOS */

.meus-videos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

}
.meus-videos .btn-remove, .btn-adiciona{
    background: #2b0087;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.meus-videos .item{
    width: 32%;
}
.meus-videos iframe{
    width: 100%;
    height: 28vh;
}
.title-videos{
    color: #2b0087;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}